#contentContainer{
    margin-left: 50px;
    margin-right: 20px;
}

.item{
    height: 300px;
    width: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center;

}

#articleListContainer ul li{
    position: relative;
    height: 150px;
    margin-top: 30px;
    border-bottom:solid #d6e9c6 2px;

}
.articleIcon{
    position: absolute;
    left: 650px;
    width: 200px;
    height: 135px;

}
.articleIcon img{
    width:100%;
    height:100%;
}
.articleInfo{
    width:650px;
    height:150px;
    position: relative;
}
.articleInfo .articleTitle{
    font-size: x-large;
    font-weight: bold;
    color: #66afe9;
}
.articleInfo .articleAbstract{
    font-size: medium;
    font-weight:normal;
    font-style:italic ;
    color: #adadad;
    text-decoration: none;
}
.articleInfo .articleAbstract :first-letter{
    font-size: larger;
    font-weight: bolder;
    font-style:italic ;
    color: black;

}
.articleMeta{
    position: absolute;
    left: 0px;
    top: 115px;
}

.articleMeta p{
    display: inline-block;
    margin-right: 15px;
    font-size: large;
}

.articleMeta p .count{
    display: inline-block;
    width: 45px;
}
.articleMeta :last-child{
    font-size: smaller;
    margin-left: 250px;
    margin-right: 0px;
}
#hotRankingListContainer{
    margin-right: -20px;

}
#hotRankingListContainer td{
    padding-left: 20px;
}
#hotRankingListContainer td a{
    text-decoration: none;
    color: #222222;
}